*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap:20px;
}
ul li a{
    text-decoration: none;
    color:black;
}